/**reference : https://github.com/SandraBergstrom/travel-tickr */
.AboutContainer{
    background-color: #CBEEF3;

}

body {
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

.Info {
    margin: 20px;
}

.Info h1 {
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

.Info p {
    line-height: 1.5;
    margin-bottom: 10px;
    text-align: center;
}